/*css reset*/
/* * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 1px solid red;
} */

body {
    background: radial-gradient(circle, #13563b, #0f4a33, #0a3225);
}

footer {
    position: absolute;
    bottom: 0vh;
    left: 0vh;
    color: white;
    padding: 2px;
}

/* START SCREEN STYLE RULES */
.start_screen {
    position: absolute;
    left: 50vh;
    text-align: center;
    margin-top: 15vh;
    font-family: "Press Start 2P", serif;
    font-style: normal;
    font-size: xx-large;
    background: #072475;
    width: 50%;
    border: 5px solid #a4692b;
    border-radius: 10px;
}
.main_menu_buttons {
    display: grid;
    margin-top: 10vh;
    margin-left: 80vh;
    margin-right: 80vh;
}
.start_screen button {
    font-family: "VT323", serif;
    font-style: normal;
    font-size: xx-large;
}
.handNames {
    color: aqua;
}
.handMults {
    color: red;
}
.tarot-help {
    color: rgb(213, 22, 213);
}
.help_screen h2 {
    text-align: center;
    font-size: 2em;
    margin: 0;
}
/* TAROT SELECTION SCREEN STYLE RULES */

.tarot_screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-family: "Press Start 2P", serif;
    font-style: normal;
}
.tarot_slots {
    display: grid;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 5vh;
    top: 5vh;
    height: 80vh;
}
.tarot_slots img {
    width: 125px;
    height: auto;
    border: 2px solid #a4692b;
}
.tarot_selection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    right: 80vh;
    top: 20vh;
    outline: 3px solid #072475;
    background: black;
}
.tarot_selection img {
    width: 150px;
    margin: 10px;
    height: auto;
    cursor: pointer;
    outline: 2px solid #a4692b;
}
.select_tarot {
    position: absolute;
    bottom: 10vh;
    right: 97vh;
    padding: 10px;
}

#resetButton {
    position: absolute;
    bottom: 3vh;
    right: 5vh;
}
#nextRoundButton {
    position: absolute;
    bottom: 10vh;
    right: 90vh;
}
.tarot_screen button {
    font-family: "VT323", serif;
    font-style: normal;
    font-size: x-large;
}

.tarot-tooltip {
    display: none;
    font-family: "Press Start 2P", serif;
    font-style: normal;
    font-size: large;
    position: absolute;
    left: 10vh;
    border: 2px solid #072475;
    padding: 5vh;
    background-color: black;
    color: white;
    width: 15%;
}

/* PLAY SCREEN STYLE RULES */

.play_screen {
    text-align: center;
    font-family: "Press Start 2P", serif;
    font-style: normal;
}
.score_counter {
    display: block;
    position: absolute;
    top: 5vh;
    right: 75vh;
    width: 25%;
    padding: 50px;
    outline: 3px solid #a4692b;
    background: black;
    color: white;
}
.hand {
    display: flex;
    position: absolute;
    right:55vh;
    top: 69vh;
    outline: 3px solid #072475;
    background: #072475;
    border-radius: 10px;
    border: 5px solid #a4692b;
}
.hand img {
    width: 125px;
    height: auto;
    margin: 10px;
}
.active_hand {
    position: absolute;
    right: 63vh;
    top: 30vh;
}
.active_hand_display {
    position: absolute;
    right: 25vh;
    top: 2vh;
    outline: 3px solid #7b1414;
    background: black;
    color: white;
    padding: 30px;
}
.active_hand img {
    width: 175px;
    height: auto;
    margin: 10px;
}
.shuffle_hand_counter {
    position: absolute;
    width: 15%;
    left: 10vh;
    top: 10vh;
    font-size: medium;
    outline: 3px solid #7b1414;
    background: black;
    color: white;
    padding: 10px;
}
.play_screen button {
    font-family: "VT323", serif;
    font-style: normal;
    font-size: x-large;
}
.play_screen .shuffle {
    position: absolute;
    bottom: 50vh;
    left: 15vh;
    font-size: xx-large;
}
.play_screen .play_hand {
    position: absolute;
    bottom: 2vh;
    right: 110vh;
    font-size: xx-large;
}
.play_screen .tarot-tooltip {
    position: absolute;
    left: -400px;
    width: 150%;
    height: auto;
    padding: 15%;
    font-size: small;
    top: 50%;
    background-color: black;
    color: white;
}

#chipValueDisplay {
    color: aqua;
}
#multiplierDisplay {
    color: red;
}
.highlight {
    color: #a4692b;
}
/* WIN SCREEN STYLE RULES */

.win_screen {
    position: absolute;
    right: 50vh;
    top: 30vh;
    text-align: center;
    background-color: yellow;
    font-family: "Press Start 2p", serif;
    font-size: x-large;
    width: 50%;
    border: 5px solid black;
    border-radius: 5px;
}

.win_screen button {
    font-family: "VT323", serif;
    font-size: x-large;
}

/* LOSE SCREEN STYLE RULES */

.lose_screen {
    position: absolute;
    right: 50vh;
    top: 30vh;
    text-align: center;
    background-color: red;
    font-family: "Press Start 2p", serif;
    font-size: x-large;
    width: 50%;
    border: 5px solid black;
    border-radius: 5px;
}

.lose_screen button {
    font-family: "VT323", serif;
    font-size: x-large;
}

/* HELP SCREEN STYLE RULES */

.help_screen {
    position: absolute;
    right: 35vh;
    top: 3vh;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.887);
    color: white;
    font-family: "VT323", serif;
    font-size: x-large;
    padding: 30px;

}
.play_screen .help_button {
    position: absolute;
    bottom: 40vh;
    left: 15vh;
    padding-left: 30px;
    padding-right: 30px;
}
.tarot_screen .help_button {
    position: absolute;
    bottom: 40vh;
    left: 15vh;
    padding-left: 30px;
    padding-right: 30px;
}
.start_screen .help_button {
    position: absolute;
    top: 30vh;
    left: 46vh;
    padding-left: 30px;
    padding-right: 30px;
}
